 @charset 'utf-8';
 .wrap-wlf {
 	width: 660px;
 	padding-top: 30px;
 	margin: 0 auto;
 }
 .control-wlf {
 	width: 340px;
 	height: 50px;
 	margin: 0 auto;
 }
 .control-wlf input {
 	width: 108px;
 	height: 36px;
 	border: none;
 	background: url("../images/button.png") no-repeat;
 	color: #fff;
 	font-size: 18px;
 	text-align: center;
 	line-height: 30px;
 	-webkit-user-select: none;
}
 .record {
 	width: 500px;
 	height: 50px;
 	margin: 0 auto;
 	font-size: 18px;
 }
 .record input {
 	width: 105px;
 	height: 36px;
 	border: none;
 	background: url("../images/button.png") no-repeat;
 	color: #fff;
 	font-size: 18px;
 	text-align: center;
 	line-height: 30px;
 	-webkit-user-select: none;
 }
 .content-wlf {
 	position: relative;
 	width: 660px;
 	height: 440px;
 	background: url("../images/background.png") no-repeat;
 }
 .content-wlf div {
 	position: absolute;
 	width: 100px;
 	height: 100px;
 	-webkit-user-select: none;
}
 .content-wlf img {
 	display: none;
 	width: 100px;
 	height: 100px;
 	-webkit-user-select: none;
 }
 .play {
 	width: 500px;
 	height: 60px;
 	padding-top: 10px;
 	margin: 0 auto;
 }
 .play img {
 	float: left;
 	display: block;
 	width: 30px;
 	height: 30px;
 	margin-right: 10px;
 	-webkit-user-select: none;
 }
 .play p {
 	color: #8caf22;
 	font-size: 18px;
 }